.container
    .jumbotron
        h1 Telerik Academy Courses
        h2 Best trainings in the world
    .row
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center Featured
                .panel-body(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center New
                .panel-body(ng-include="'/partials/main/new-courses'")