script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/main/mainCtrl.js")
script(type="text/javascript" src="/app/account/loginCtrl.js")
script(type="text/javascript" src="/app/account/signUpCtrl.js")
script(type="text/javascript" src="/app/account/profileCtrl.js")
script(type="text/javascript" src="/app/account/identity.js")
script(type="text/javascript" src="/app/account/auth.js")
script(type="text/javascript" src="/app/account/usersResource.js")
script(type="text/javascript" src="/app/admin/userListCtrl.js")
script(type="text/javascript" src="/app/courses/coursesListCtrl.js")
script(type="text/javascript" src="/app/courses/courseDetailsCtrl.js")
script(type="text/javascript" src="/app/courses/courseResource.js")
script(type="text/javascript" src="/app/courses/cachedCourses.js")
script(type="text/javascript" src="/app/common/notifier.js")