script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/app/app.js")