.navbar-right
    form.navbar-form
        .form-group
            input.form-control(type="text", placeholder="Username", ng-model="user.username")
            input.form-control(type="password", placeholder="Password", ng-model="user.password")
        button.btn.btn-primary(ng-click="login(user)") Login