div(ng-repeat="course in courses | orderBy: '-published' | limitTo: 10")
    .row
        .col-md-3
            | {{ course.published | date: 'MMM d yyyy' }}
        .col-md-9
            a(href="#/courses/{{ course._id }}") {{ course.title }}
